body{
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: hsl(180, 52%, 96%);
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.error{
  text-align: center;
}